/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body{
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image:url('../images/bgtile.png');
  background-position: 0px -120px;
  background-repeat: repeat-x;
  position: relative;
}

/* Frist Image / Phone Instagram / button */

.wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  margin-top: 50px;
}

.phones{
  width: 180px;
  margin-left: 30px;
}

.instagram{
  width: 180px;
  margin-left: 30px;
  margin-top: 5px;
}

.button{
  margin-top: 20px;
  margin-left: 85px;
  height: 24px;
  background: #3f6d93;
  box-shadow: #2e6c82;
  border: none;
  border-radius: 3px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  cursor: pointer;
}

.login-image{
  height: 15px;
  margin-top: 2px;
}

.login-text{
  font-size: 10px;
  color: white;
  margin-left: 6px;
  margin-top: 4px;
}

/* Second Content Image / Logos */

.wrapper-content{
  background-image: url('../images/frame.png');
  background-repeat: no-repeat;
  background-size: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
  border-radius: 5px;
  clear: both;
  margin-left: 270px;
  margin-top: -230px;
}

.content{
  margin-top: 9px;
  margin-left: 20px;
  width: 250px;
  height: 150px;
}

h1{
  line-height: 18px;
  font-size: 14px;
  color:  #06365f;
}

p{
  line-height: 12px;
  font-size: 8px;
  margin-left: 2px;
}
.app-store{
  width: 95px;
  height: 28px;
  margin-top: 8px;;
  margin-left: 3px;
  margin-right: 12px;
  border-radius: 5px;
}
.google-play{
  width: 95px;
  height: 28px;
  margin-top: 8px;
  border-radius: 5px;
}

/*  Fotter Section  */

.footer{
  margin-top: 100px;
}

ul {
  font-weight: bold;
  font-size: 7px;
  color: #1c5380;
  margin-left: 110px;
}

ul li {
  float:left; list-style:none;
  margin-left: 8px;
}

.instagram-footer{
  font-weight: normal;
  color: gray;
  margin-left:12px;
}