/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body{
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image:url('../images/bgtile.png');
  background-position: 0px -120px;
  background-repeat: repeat-x;
  position: relative;
}

/* Frist Image / Phone Instagram / button */

.wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  margin-top: 50px;
}

.phones{
  width: 180px;
  margin-left: 30px;
}

.instagram{
  width: 180px;
  margin-left: 30px;
  margin-top: 5px;
}

.button{
  margin-top: 20px;
  margin-left: 85px;
  height: 22px;
  background-image: linear-gradient( #16578d 0%, rgb(126, 166, 204) 50%, #3f6d93 0%, rgb(126, 166, 204) 50%);
  box-shadow: rgb(73,155,234);
  border: rgb(73,155,234);
  border-radius: 3px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  cursor: pointer;
}

.login-image{
  height: 11px;
  margin-top: 6px;
  color: white;
}

.login-text{
  font-size: 8px;
  font-weight: bold;
  color: white;
  margin-left: 4px;
  margin-top: 8px;
}

/* Second Content Image / Logos */

.wrapper-content{
  background-image: url('../images/frame.png');
  background-repeat: no-repeat;
  background-size: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
  border-radius: 5px;
  margin-left: 260px;
  margin-top: -230px;
}

.content{
  margin-top: 10px;
  margin-left: 23px;
  width: 245px;
  height: 160px;
}

h1{
  line-height: 18px;
  font-size: 14px;
  color:  #06365f;
}

p{
  line-height: 12px;
  font-size: 9px;
  margin-left: 2px;
  color: gray;
  font-weight: bolder;

}

.app-store{
  width: 95px;
  height: 28px;
  margin-top: 10px;;
  margin-left: 3px;
  margin-right: 12px;
  border-radius: 5px;
}

.google-play{
  width: 95px;
  height: 28px;
  margin-top: 10px;
  border-radius: 5px;
}

/*  Fotter Section  */

.footer{
  margin-top: 100px;
}

ul {
  font-weight: bold;
  font-size: 6px;
  color: #1c5380;
  margin-left: 100px;
}

ul li {
  float:left; list-style:none;
  margin-left: 12px;
}

.instagram-footer{
  /* font-weight:  */
  color: lightgray;
  margin-left:12px;
}